# Hugo default output directory
public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

node_modules
dist
tmp
resources/_gen/

hugo.exe
hugo.linux
hugo.darwin

.vscode
package*json
